.CTScoreContainer {
  width: 100%;
  height: auto;
  min-height: 130vh;
  background: #f5f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CTScoreWrapper {
  width: 95%;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.CTScoreHead {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Nunito;
  font-weight: bold;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0f172a;
  gap: 7px;

  span {
    font-family: Nunito;
    font-weight: lighter;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.CTSubjectsHolder {
  width: 100%;
  height: 12vh;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.CTSubjects {
  width: 18%;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #d2d6db;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #03173c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 17px;
  gap: 0.7rem;

  span {
    font-family: Nunito;
    font-weight: bold;
    font-style: Bold;
    font-size: 27px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #03173c;
  }
}

.CTScoreTable {
  width: 96%;
  min-height: 85vh;
  background: white;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.CTSubjectSave {
  width: 100%;
  min-height: 13vh;
  background: transparent;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Nunito;
  font-weight: bold;
  font-style: SemiBold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #03173c;
}

.CTSaveBtn {
  width: 139px;
  height: 54px;
  background: #0062f6;
  border-radius: 10px;
  color: white;
  border: none;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.CTActualTable {
  width: 97%;
  min-height: 60vh;
  background: transparent;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.CTActualTableTop {
  width: 100%;
  height: 10vh;
  background: #e5e7eb;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center;
}

.CTTableContentValue {
  font-family: Nunito;
  font-weight: bold;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #03173c;
}

.CTTableContentScore {
  width: 156px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-weight: bold;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #03173c;
  gap: 7px;

  span {
    font-family: Nunito;
    font-weight: bold;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #6c737f;
  }
}

.CTActualTableInfo {
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid #f2f5fb;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center;
  gap: 10px;
}

.CTTableValueName {
  font-family: Nunito;
  font-weight: bold;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #042869;
}

.CTCA1Holder {
  width: 156px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CTCA1 {
  width: 60px;
  height: 38px;
  border-radius: 6px;
  border: 1px solid #d2d6db;
  outline: none;
  background: transparent;
  display: flex;
  padding-left: 18px;
  font-family: Nunito;
  font-weight: bold;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.pagination {
  width: 97%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 13px;

  span {
    font-family: Nunito;
    font-weight: 400px;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #6c737f;
  }
}

.pages button {
  width: 34px;
  height: 34px;
  background: white;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #042869;
}
.pages span {
  width: 34px;
  height: 34px;
  background: white;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #042869;
}

.CTPageTypeHolder {
  width: 174px;
  height: 34px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6c737f;
}

.CTPageTypeWrapper {
  width: 56px;
  height: 34px;
  border-radius: 4px;
  gap: 4px;
  border: 1px solid #d2d6db;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.CTPageType {
  width: 47px;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: #042869;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.CTScoreCaution {
  width: 100%;
  height: 12vh;
  gap: 12px;
  border-radius: 10px;
  background: #e6f4ff;
  border: 1px solid #0095ff;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0095ff;
  align-items: center;
  display: flex;
  padding-left: 30px;
}
