@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

.geist-content {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
}
.CTHeader {
  width: 80%;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  z-index: 10;
  top: 0%;
  right: 0%;
  border-left: 1px solid #f5f7fb;
}

.Session {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.SessionStacks {
  width: 40%;
  height: 30%;
  font-size: 12px;
  font-weight: 500px;
  display: flex;
  align-items: center;
  color: #03173c;
  gap: 4px;
  border-right: 1px solid rgb(240, 238, 238);
}

.Profile-Notification {
  width: 20%;
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  color: #03173c;
}

.Profile {
  width: 80%;
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.ProfilePic {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfileName {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #03173c;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;

  span {
    font-weight: lighter;
    color: #03173c;
    font-family: Nunito;
    font-weight: 500px;
    font-style: Medium;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
