@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

.nunito-content {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}
.CTLayoutContainer {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #f5f7fb;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Header-SideBar-Holder {
  width: 100%;
  height: auto;
  min-height: 100vh;
  /* background: #f5f7fb; */
  display: flex;
}

.CTWrapper {
  width: 80%;
  height: auto;
  min-height: 100vh;
  position: absolute;
  top: 11%;
  left: 20%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #f5f7fb;
}
