.CTreportContainer {
  width: 100%;
  height: auto;
  min-height: 130vh;
  background: #f5f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CTreportWrapper {
  width: 95%;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.CTSReportHead {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Nunito;
  font-weight: bold;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0f172a;
  gap: 7px;

  span {
    font-family: Nunito;
    font-weight: lighter;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.classSectionHolder {
  width: 100%;
  height: 14vh;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  border: #e5e7eb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.classSection {
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
}

.classSectionInput {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #042869;
  gap: 7px;
}

.SectionInputHolder {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d2d6db;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SelectSectionInput {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: Nunito;
  font-weight: bold;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #042869;
  cursor: pointer;
}
.resetBtnRecord {
  width: 97px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #0062f6;
  cursor: pointer;
  background: transparent;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #042869;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.reportTable {
  width: 100%;
  height: 70vh;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CTActualTable2 {
  width: 97%;
  min-height: 60vh;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.CTActualTableTop2 {
  width: 100%;
  height: 10vh;
  background: #e5e7eb;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center;
}

.CTActualTableTop2 input {
  width: 10%;
  height: 30%;
}

.CTTableContentValue2 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito;
  font-weight: bold;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #03173c;
}

.CTActualTableInfo2 {
  width: 100%;
  height: 8vh;
  background: transparent;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center;
}

.CTActualTableInfo2 input {
  width: 10%;
  height: 30%;
}

.CTTableValueName2 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito;
  font-weight: bold;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #042869;
}

.CTTableValueAction {
  width: 13%;
  height: 60%;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito;
  font-weight: bold;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #042869;
  cursor: pointer;
}

.LinkToST {
  width: 20%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  width: 97%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 13px;

  span {
    font-family: Nunito;
    font-weight: 400px;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #6c737f;
  }
}

.pages button {
  width: 34px;
  height: 34px;
  background: white;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #042869;
}
.pages span {
  width: 34px;
  height: 34px;
  background: white;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #042869;
}

.CTPageTypeHolder {
  width: 174px;
  height: 34px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6c737f;
}

.CTPageTypeWrapper {
  width: 56px;
  height: 34px;
  border-radius: 4px;
  gap: 4px;
  border: 1px solid #d2d6db;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.CTPageType {
  width: 47px;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: #042869;
  font-family: Nunito;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}
